# log file config
LOG_FILE_PATH=./speedtest.log # path to log file, set empty to output logs to stdout
LOG_LEVEL=info
LOG_FORMAT=text

# v2fly domain list submodule path
DOMAIN_LIST_PATH=./domain-list-community/data

# speedtest config
ICMP_COUNT=4 # number of ICMP echo requests to send
ICMP_TIMEOUT=3 # timeout in seconds for each ICMP echo request
ICMP_INTERVAL=1 # interval in seconds between ICMP echo requests
ICMP_PACKETLOSS_THRESHOLD=0.25 # packet loss rate threshold for considering a ip as having poor connectivity, the bandwidth to the ip will not be tested when packet loss is above this threshold
HTTP_TIMEOUT=20 # timeout in seconds for HTTP requests

# concurrency config
NUM_DNS_WORKERS=512 # number of concurrent workers for DNS resolution
NUM_ICMP_WORKERS=512 # number of concurrent workers for ICMP pinging
NUM_HTTP_WORKERS=1 # number of concurrent workers for HTTP testing, set to 1 to avoid overwhelming the network and ensure accurate results

# QPM config
QPM_DNS=0 # queries per minute for DNS resolution, set to 0 for no limit

TEST_URL=https://yourdomain.com/test.img # URL to use for download speed testing, can be overridden by environment variable TEST_URL
TOP_N_IPS=10 # number of top IPs to keep in the database, set to 0 to keep all records
CLOUDFLARE_IP_RANGE_FILE_PATH=cloudflare_ip_range.txt # path to file containing Cloudflare IP ranges